$fontFamily: 'Poppins', sans-serif;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

$c-primary-color: #05fab8;
$c-primary-color-alpha-50: hsla(164, 96%, 50%, 0.502);
$c-primary-color-alpha-80: hsla(164, 96%, 50%, 0.8);
$c-primary-color-alpha-90: hsla(164, 96%, 50%, 0.902);
$c-secondary-color: #2f3031;
$c-secondary-color-alpha-70: hsla(210, 2%, 19%, 0.7);
$c-white: #ffffff;
$c-grey: #f8fafa;
$c-grey-dark: #9c9c9c;
$c-black: #202124;
$c-black-alpha-90: hsla(210, 7%, 11%, 0.93);

$shadow-50: 0rem 0rem 1rem hsla(0, 0%, 0%, 0.5);

$bg-gradient-horizontal: linear-gradient(
	180deg,
	rgba(32, 33, 36, 0.94) 0%,
	rgba(32, 33, 36, 0.94) 54%,
	rgba(5, 250, 184, 0.97) 54%,
	rgba(5, 250, 184, 0.97) 100%
);
$bg-gradient-vertical: linear-gradient(
	90deg,
	rgba(32, 33, 36, 0.94) 0%,
	rgba(32, 33, 36, 0.94) 54%,
	rgba(5, 250, 184, 0.97) 54%,
	rgba(5, 250, 184, 0.97) 100%
);

$screens: (
	'small': 425px,
	'medium': 768px,
	'large': 992px,
	'xlarge': 1200px,
	'xxlarge': 1400px,
);
